<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('assets/img/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Int-rev Blog</h1>
          <hr class="small">
          <span class="subheading">Currently showing {{filteredPosts.length}} filtered posts!</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          Search for occurrence of string in title, summary, body or tags
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label>String:</label>
            <input type="text" class="form-control"
                   [(ngModel)]="searchString" placeholder="Enter string"  (ngModelChange)="filterByString()">
          </div>
        </div>
      </div>

      <div class="#" *ngFor="let post of filteredPosts" class="post-preview">
        <a [routerLink]="['/post', post._id]">
          <h2 class="post-title">
            {{ post.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ post.summary }}
          </h3>
        </a>
        <p class="post-meta">Posted by <a href="#">{{post.author}}</a> on {{post.created | date}} </p>
        <hr>
      </div>
    </div>
  </div>
</div>

