<div id="search-component-spinner" *ngIf="!(totalUsers > 0)">
  <mat-spinner style="margin-left: auto; margin-right: auto;"></mat-spinner>
</div>
<mat-card style="margin-top: 40px;">
  <mat-card-title class="intrev-card-title">Users in the database
    <mat-card-subtitle>Listed out.</mat-card-subtitle>
  </mat-card-title>
  <div class="example-header" style="display:none">
    <mat-form-field floatPlaceholder="never" style="    position: absolute;
    top: 50px;
    right: 20px;">
      <input matInput #filter placeholder="Filter resources">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort style="margin-top: 50px;">

    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Image</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <img [src]="row.profileImgUrl" (error)="setUserImgToDefault(row)" height="50"></mat-cell>
    </ng-container>

    &lt;!&ndash; Title &ndash;&gt;
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Username</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.username}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row._id}}</mat-cell>
    </ng-container>

    &lt;!&ndash; Created &ndash;&gt;
    <ng-container matColumnDef="modified">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Modified</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.updatedAt | date}}</mat-cell>
    </ng-container>


    &lt;!&ndash; Actions &ndash;&gt;
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let row">

        <a mat-icon-button [routerLink]="['/users/edit/' + row._id]">
          <mat-icon>edit</mat-icon>
        </a>
        <button mat-icon-button (click)="deleteUser(row)" style="color: red;">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="totalUsers"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

  <mat-card-actions style="text-align: center;">
    <button [routerLink]="['/users/add/']" mat-button>
      <mat-icon>add</mat-icon>
      NEW USER
    </button>
  </mat-card-actions>
</mat-card>
