<!-- Navigation -->
<nav class="navbar-shit navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/"><span style="color: #46b8da;">Int</span>-<span style="color: #46b8da;">rev</span> Blog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li *ngFor = "let category of categories">
          <a [routerLink]="['/category', category._id]" [routerLinkActive]="['active']">{{category.name}}</a>
        </li>
        <li>
          <a [routerLink]="['/posts-search']"><span class="glyphicon glyphicon-search"></span> Search</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<router-outlet></router-outlet>
