<!--<mat-card [routerLink]="['/categories/add']" class="add-card">
  <img mat-card-image [src]="'/assets/img/plus-image.jpg'">
</mat-card>-->
<div class="add-button-container">
  <button mat-fab color="primary" [routerLink]="['/categories/add']" class="add-button">
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-card *ngFor="let category of categories" class="category-card">
  <mat-card-content>
    <img mat-card-image [src]="category.mainImg" (error)="setCategoryImgToDefault(category)"
         style="height: 200px; object-fit: cover;">
    <p style="font-size: 18px;
    font-weight: bold;
    margin: 0;">{{category.name}}</p>
    <p>{{category.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button disabled>Posts</button>
    <button mat-button [routerLink]="['/categories/edit/' + category._id]">Edit</button>
    <button mat-button (click)="deleteCategory(category._id)">Delete</button>
  </mat-card-actions>
</mat-card>

